<h1>This is about page </h1>
<div>
    <h2>Introduction</h2>
    <p>Hello, my name is Roma.</p>
    
    <h2>Contact</h2>
    <p>You can reach me via email at judi@tet.com.</p>
    
    <img src="<%= imagePath %>" alt="My Image" >
</div>